<div class="outer_wrapper">
  <div class="btn-group">
    <%= link_to "New User", new_user_path, class: "btn btn-success",
      id: "new_user_button", method: :get %>
  </div>
  <div class="inner_wrapper table-responsive">
    <table class="table table-striped">
      <tbody>
        <% users.each do |user| %>
          <tr>
            <%= render user %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
