<div class="outer_wrapper">
  <div class="inner_wrapper table-responsive">
    <table class="table table-striped">
      <tbody>
        <% users.each do |user| %>
          <tr>
            <%= render user %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
