// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status_button {
  width: 40px;
  height: 34px;
}

.status_processed {
  background-color: #dff0d8 !important;
}

.status_not_processed {
  background-color: #f2dede !important;
}

#status_button_text {
  font-size: 16pt;
  font-weight: bold;
}

#order_status_buttons_wrapper {
  float: right;
  padding-right: 85px;
}

#order-button {
  padding-right: 10px;
}

#delete_button_wrapper {
  float: left;
}

#logs_table {
  clear: both;
}

#previous_button {
  float: left;
  padding-left: 10%;
}

#next_button {
  float: right;
  padding-right: 10%;
}

#log_show_table {
  clear: both;
  padding-top: 20px;
}

#services_heading {
  padding-left: 7%;
}
