// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status_button {
  width: 40px;
  height: 34px;
}

.status_processed {
  background-color: #27fb27 !important;
}

.status_not_processed {
  background-color: #fff !important;
}

#status_button_text {
  font-size: 16pt;
  font-weight: bold;
}

#order_status_buttons_wrapper {
  float: right;
}

#delete_button_wrapper {
  float: left;
}

#logs_table {
  clear: both;
}
