<tr class="info table_row">
  <td><strong>Last Name (Member)</strong></td>
  <td><strong>First Name (Member)</strong></td>
  <td><strong>Last Name (Staff)</strong></td>
  <td><strong>Submitted</strong></td>
  <td><strong>Date of Service</strong></td>
  <td><strong>Admin Options</strong></td>
  <td><strong>NBS?</strong></td>
  <td><strong>Processed?</strong></td>
</tr>
