<div class="outer_wrapper">
  <%= render partial: "log_options" %>
  <div class="inner_wrapper table-responsive" id="logs_table">
    <table class="table table-striped">
      <tbody>
        <%= render partial: "log_header" %>
        <% logs.each do |a_log| %>
          <tr>
            <%= render partial: "log_row", locals: {log: a_log} %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<center>
  <%= will_paginate logs, renderer: BootstrapPagination::Rails %>
</center>
